<div class="row-centered">
  <div class="col-md-8 col-md-offset-2">

<div align="center">
<h1>New Order</h1>

</div>
<hr>

<%= render 'form' %>


            <%= link_to listings_path, class: "btn btn-link" do %>

                     <span class="glyphicon glyphicon-backward"></span> Return to Listings
                <% end %>
                
                
</div></div>