<div class="jumbotron">
  
 <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-8">
         <div class="accentcolor"> Shop Delight :</div>
           <div class="contentleft">   
          
        <h2> Whatever you are into, <br>find yourself shopping for</h2>
        </div>
        </div>
   <div class="col-xs-6 col-md-4">
       
       
       
            <div class="contentright">   
              <% if user_signed_in? %>
              Welcome! <br><br>
<%= link_to 'List a new product', new_listing_path %>
<span class="glyphicon glyphicon-forward" ></span>
 <% end %>
            <p></p>
              <%= link_to 'Find Cool Things to Buy', listings_path %> 
                   <span class="glyphicon glyphicon-forward" ></span>
              


</div></div>
    </div>
    </div>

</div>
<div class="row row-centered">
  
  
  <div class="col-md-4">
    
    <h3 class="midrow">
       <span class="glyphicon glyphicon-shopping-cart " ></span> 
     
       Get something you love</h3>
   
      
       
      <p>Our marketplace is a world of great goods and collections
      </p>
  
<p>
 
</p>
  </div>
  
  <div class="col-md-4">
    
    <h3 class="midrow">
   <span class="glyphicon glyphicon-picture"></span>
       Find your  favorite shop</h3>
 
      
      <p>Independent sellers from everywhere are right here
      </p>

<p>
 
</p>
  </div>

  <div class="col-md-4">
    <h3 class="midrow">
      
     <span class="glyphicon glyphicon-piggy-bank" ></span> 

      Buy safely and securely</h3>
   
      
      <p> Shop with confidence
      </p>
  <p>
  
</p>
  
  </div>
  
  </div>


<br><br>
<br><br>
<div class="list-group ">
  <div class="list-group-item list-group-item-warning">
    <h4 class="page-header ">Get straight to growing your business</h4>
    <p class="list-group-item-text ">
        When we say it’s never been easier to start a business, we mean it. 
        You can own a gorgeous store of your own that reflects the personality of your business.
        
</p>
  </div>
</div>






<br><br>


<div class="list-group">
  <div class="list-group-item list-group-item-success">
    <h4 class="page-header">An ecommerce store made for you</h4>
    <p class="list-group-item-text">
       Now you can sell online, and create a marketplace for customers to buy your items.
</p>
  </div>
</div>


<br><br>
