
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: #F5F5F1;
    color: #333333;
    font-family: Arial,sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-right: 5px;
  padding: 0px, 0px, 0px, 0px;
}

th {
    text-align: center;
}

.container{
    width: 600px;
}
.navbar-default{
    background-color: #efefeb;
}

.navbar-default .navbar-brand{
    font-famiy: guardian-egyptt, georgia, serif;
    font-weight: 400;
    color: #d5641c;
    font-size: 30px;
}
.navbar-default .navbar-nav > li > a {
     font-famiy: guardian-egyptt, georgia, serif;
    font-size: 14px;
    font-weight: bold;
    color: #0192b5;
    
}

.col-md-3:nth-child(4n+1){
    clear: left;
}

.col-md-5{
    h3{font-size: 40px};
    h5{font-size: 15px};
    p{font-size: 18px};
}

.caption {
    h3{
        font-size: 20px;
        margin: 2px;
    }
    text-align: center;
    
    p{
        font-size: 15px;
        margin: 0px;
    }
}

.btn {
    width: 110px;
}


.row-centered {
  margin: 0 auto;
  width: 80%;
}

.list-group {
    width: 600px;
    margin: 0 auto;
    padding: 0 0 0 0;
}


.accentcolor{
    background-color: #fff;
    width: 100px;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
}
.contentleft{
    
    height: 200px;
    margin-left: 50px;
    font-size: 60px;
    font-family: verdana;
}

.contentright{
    height: 200px;
    display: table-cell;
   vertical-align: bottom;
  
}

.navbar-brand {
    text-transform: capitalize;
}

.jumbotron {
    padding: 0 0 0 0;
    .container {
    width: 100%;

    padding: 0 0 0 0;
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #efefeb;
   
}

.containerbottom {
  
    text-align: right;
    margin-right: 5px;
  
}