<footer class="footer">
    
    <div class="containerbottom">
        
        <a href="http://www.kulio712.com" target="_blank">@2017 Kulio 712</a> &nbsp; &nbsp;
        
        
            
  
        
  <button type="button" class="btn btn-default btn-sm">
      <%= link_to "Terms of Service", pages_terms_of_use_path %>
      </button>
        &nbsp; &nbsp;
        
    </div>
    
</footer>